.detail-hr {
    margin: 0 auto;
}
.Order button{
    border: none;
    background: #F9C41C;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}
.Order button:hover{
    color: rgb(255, 255, 255);
}
.details-img{
    width: 50%;
}
.cart-img{
    display: flex;
    justify-content: center;
}
.cart{
    border: 1px solid goldenrod;
    border-radius: 30px;
    justify-content: center;
}