.detail-hr {
    margin: 0 auto;
}
.Order button{
    border: none;
    background: #F9C41C;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}
.Order button:hover{
    color: rgb(255, 255, 255);
}